.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0px;
  background-color: #13a4a1;
}
.main-nav__item {
  display: inline-block;
  align-items: baseline;
}
.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 2px; /* esto modifica el redondeo de las esquinas*/
  text-decoration: none;
}

.main-nav__item a:hover {
  color: blue;
}
.main-nav__item a:active {
  color: red;
}

.main-nav__item a::after {
  content: " | ";
}
